.about {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.about-main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    text-align: justify;
}


.about-main h2 {
    font-size: var(--fs-body);
    font-weight: 500;
    text-indent: 1.5em;
}

.about-main p {
    font-size: var(--fs-h2);
    font-weight: 500;
    color: var(--text-color-light);
    padding-left: 1.5em;
}

.about-main ul {
    padding-left: 1.5em;
}

.about-main li {
    font-size: var(--fs-body);
    font-weight: 400;
}

.about-stack {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.about-stack>p {
    font-size: var(--fs-h2);
    font-weight: 500;
    color: var(--text-color-light);
    padding-left: 1.5em;
}

.stack-list {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 20px 0;
}

.stack-item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 10px;
}

.stack-icon {
    width: 50px;
    height: 50px;
}

@media screen and (min-width: 1440px) {
    .stack-list-main {
        grid-template-columns: repeat(3, 1fr);
    }

    .stack-icon {
        width: 80px;
        height: 80px;
    }

    .stack-item {
        padding: 20px;
    }

}