.home-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px 20px 20px;
}

.my-name {
  font-size: var(--fs-body);
  margin-top: 10px;
}

.home-page-title {
  font-size: var(--fs-h1);
  text-align: center;
  margin: 20px 0;
}

.home-page-subtitle {
  font-size: var(--fs-h2);
  text-align: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 6em;
  height: 6em;
  margin-top: 30px;
  border: 2px solid var(--border-color);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  gap: 5px;
}

.start-button {
  font-size: var(--fs-body);
  color: var(--text-color-light);
}

.button-container:hover {
  -webkit-box-shadow: 0px 0px 15px 10px #ffffff;
  box-shadow: 0px 0px 15px 10px #ffffff;
  gap: 20px;
}

@media screen and (min-width: 1024px) {
  .button-container {
    gap: 10px;
  }
}