.popup-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #8b9597;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: var(--text-color-dark);
    z-index: 1000;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: clamp(20px, 2vw, 38px);
    color: var(--text-color-dark);
}

@media screen and (min-width: 1700px) {
    .popup {
        width: 400px;
        height: 150px;
    }

}