.port-image {
    width: auto;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--bg-color-light);
    color: var(--text-color-dark);
    position: relative;
    padding-top: 20px;
}

.port-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100px;
}


.port-image p {
    text-align: center;
    padding: 0 8px;
}

.port-image-wrap {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.port-main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.port-image-wrap::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

.view {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: var(--fs-h2);
    font-weight: 500;
    cursor: pointer;
    z-index: 10;
    transition: all 0.3s ease-in-out;
}


@media screen and (min-width: 768px) {
    .port-image {
        height: 500px;
    }

    .port-info {
        height: 100px;
    }

    .port-image-wrap {
        height: 400px;
    }

}

@media screen and (min-width: 1024px) {

    .port-image:hover {
        transform: scale(1.05);
        -webkit-box-shadow: 0px 0px 15px 10px #ffffff;
        box-shadow: 0px 0px 15px 10px #ffffff;
    }

    .port-image {
        height: 500px;
    }

    .port-info {
        height: 150px;
    }

    .port-image-wrap {
        height: 350px;
    }
}

@media screen and (min-width: 1440px) {
    .port-image {
        height: 650px;
    }

    .port-info {
        height: 150px;
    }

    .port-image-wrap {
        height: 500px;
    }

}

@media screen and (min-width: 1600px) {
    .port-image {
        height: 850px;
    }

    .port-info {
        height: 200px;
    }

    .port-image-wrap {
        height: 650px;
    }

}