@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --fs-body: clamp(13px, 2vw, 35px);
  --fs-h1: clamp(18px, 2vw, 48px);
  --fs-h2: clamp(16px, 2vw, 48px);
  --border-color: #2a302f;
  --text-color: #8b9597;
  --text-color-light: #e1e8e9;
  --text-color-dark: #0a0e0d;
  --bg-color-light: #e1e8e9;
  --bg-color-dark: #0a0e0d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: var(--fs-body);
  font-weight: 500;
  background-color: var(--bg-color-dark);
  color: var(--text-color);
}

.main-container {
  width: 100%;
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10%;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

.bg-canvas {
  position: fixed;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:hover {
  color: inherit;
}

a:active {
  color: inherit;
}