.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}

.navigation {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation a {
  text-decoration: none;
  font-size: clamp(14px, 2vw, 45px);
}

.main {
  width: 100%;
}