.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}

.navigation {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}

.navigation a {
  text-decoration: none;
  font-size: clamp(14px, 2vw, 48px);
}

.navigation a.active {
  color: white;
}

.main {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .navigation {
    margin: 0;
  }
}